h1 {
  color: #3a3030;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  height: 28px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(45, 45, 46, 0.87);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weatherAppWrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #05234b2c;
  border-radius: 5px;
  background: linear-gradient(15deg, #ab7cc9 0%, #80d0c7 100%);
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  position: relative;
  top: -25px;
}
.weather-temperature strong {
  color: rgb(35, 35, 35);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

a:link {
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  color: rgb(0, 0, 0);
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(37, 33, 33);
}
.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-max {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px #0000003d;
}
.weather-forecast-temperature-min {
  color: rgba(255, 253, 253, 0.658);
  text-shadow: 1px 1px #0000003d;
}

.search-button {
  position: relative;
  left: -22.5px;
}

#icon {
  filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.2));
}
